
<!DOCTYPE html>
<html>

<head>
    <div class="text-center">
        <img src="https://static.wixstatic.com/media/163650_9eb98d02dd8e47c3916ea24ccdae0f36~mv2.png/v1/fill/w_186,h_105,al_c,q_95/163650_9eb98d02dd8e47c3916ea24ccdae0f36~mv2.webp" />
    </div>
</head>

<body style="text-align:center">
    <h1 style="text-shadow: 2px 2px #FF0000">About Us</h1>
    <div>
        <p>Developers :</p>
        <p>Amir Titelman - amirti7@gmail.com</p>
        <p>Lee Wolf - leewolf833@gmail.com</p>
        <p>Yonatan Alkalay -alkalayjonathan28@yahoo.com </p>

        <canvas id="canvas" width="210" height="80" style="border:1px solid #d3d3d3;">
        </canvas>
        <script>
            var doc = document.getElementById("canvas");
            var docContext = doc.getContext("2d");
            docContext.font = "50px Brush Script MT, cursive";
            docContext.fillStyle = "Black";
            docContext.fillText("Janumika!", 20, 60);
        </script>
    </div>
    <video controls autoplay muted id="vid">
        <source src="~/images/video.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
    </video>
    </div>


  

</body>
<footer></footer>

<div>
</div>

</html>
