@model JanumikaPro.Models.User

@{
    ViewData["Title"] = "AccessDenied";
}

<h1>OOPPSSSSSSS!!!!</h1>
<h2>You are not autorized</h2>

<a asp-action="Logout">Click here</a> to sign in using a different user.


